<div>
    <h3>Introducción</h3>
    <div class="resource">
	Bienvenido a Aprende Blockchain. En esta página encontrarás respuestas sencillas a preguntas como:
	<ul>
		<li>¿Qué es un hash?</li>
		<li>¿Qué es un bloque?</li>
		<li>¿Se puede trampear Bitcoin</li>
		<li>¿Por qué cuanta más gente use Bitcoin más seguro será?</li>
	</ul>
        <h4>Blockchain</h4>
        <p>Blockchain es la tecnología subyacente a inventos tan innovadores como Bitcoin o Ethereum.</p>
    </div>

    <div class="resource">
        <h4>Bitcoin</h4>
        <p>Bitcoin es una moneda virtual basada en Blockchain. Se implementa como un libro de contabilidad escrito en Blockchain. Su fama ya es mundial y es usada por millones de personas todos los días.</p>
    </div>
    <img  style="max-width: 100%;" src="http://i.vimeocdn.com/video/536042269_1280x720.jpg" alt="Blockchain">
    <lesson-hash></lesson-hash>
    <lesson-block></lesson-block>
    <lesson-blockchain></lesson-blockchain>
    <lesson-distributed></lesson-distributed>
    <lesson-tokens></lesson-tokens>
    <lesson-thanks></lesson-thanks>
</div>
