<h3 (click)="change()">Blockchain</h3>
<div class="resource" *ngIf="show">
	<p>Blockchain, como su nombre indica, es una cadena de bloques. En una cadena de bloques, los bloques además de tener datos y nonce, poseen el hash del bloque anterior. Así se logra el encadenamiento.</p>
	<p>Por supuesto para generar el hash de cada bloque ahora necesitamos los datos, el hash del bloque anterior y buscar el nonce adecuado.</p>
	<p>Ahora imagina que quieres modificar un bloque. Si el bloque es el último de la cadena no hay problema, simplemente minas de nuevo y obtienes un bloque válido con su hash de 3 ceros al principio. ¿Y si quisiéras modificar un dato que no fuese el último?</p>
	<p>Modificarías el bloque y lo minarías para obtener un hash de 3 ceros y tener un bloque válido. Sin embargo el bloque siguiente de la cadena contenía tu hash anterior, el de antes de realizar la modificación, y era vaĺido con ese valor. Ahora, al modificar el contenido del bloque anterior, su hash ha cambiado y el contenido del bloque siguiente también ha cambiado y ha dejado de ser válido. Tienes que volver a minar el bloque siguiente. Y el siguiente. Y el siguiente.</p>
	<p>En un Blockchain modificar un bloque antiguo cuesta. Cuanto más antiguo sea el bloque (más atrás esté en la cadena), más difícil será modificar su valor. Esta es una de las bases de la inmutabilidad de Blockchain</p>
	<hr>
	<p>Aquí tienes 5 bloques de un mini-blockchain. Observa que si modficas un bloque es necesario minar todos los bloques siguientes para que la cadena siga siendo válida</p>
	<h5>Bloque 1</h5>
	<div style="width: 100%;">
		<label style="width: 25%;">Nonce</label><input (input)="inputChange()" type="text" [(ngModel)]="nonce[0]" style="width: 75%;">
		<textarea (input)="inputChange()" [(ngModel)]="data[0]" style="width: 100%;"></textarea>
		<label style="width: 25%;">Hash bloque anterior</label><input type="text" disabled value="0" style="width: 75%;">
		<label style="width: 25%;">Hash</label><input disabled type="text" [(ngModel)]="hash256[0]" style="width: 75%;">
		<p style="color: green;" *ngIf="valid[0]">Bloque válido</p>
		<p style="color: red;" *ngIf="!valid[0]">Bloque no válido</p>
		<button (click)="mine(0)">Minar</button>
	</div>
	<h5>Bloque 2</h5>
	<div style="width: 100%;">
		<label style="width: 25%;">Nonce</label><input (input)="inputChange()" type="text" [(ngModel)]="nonce[1]" style="width: 75%;">
		<textarea (input)="inputChange()" [(ngModel)]="data[1]" style="width: 100%;"></textarea>
		<label style="width: 25%;">Hash bloque anterior</label><input type="text" disabled [(ngModel)]="hash256[0]" style="width: 75%;">
		<label style="width: 25%;">Hash</label><input disabled type="text" (input)="inputChange()" [(ngModel)]="hash256[1]" style="width: 75%;">
		<p style="color: green;" *ngIf="valid[1]">Bloque válido</p>
		<p style="color: red;" *ngIf="!valid[1]">Bloque no válido</p>
		<button (click)="mine(1)">Minar</button>
	</div>
	<h5>Bloque 3</h5>
	<div style="width: 100%;">
		<label style="width: 25%;">Nonce</label><input (input)="inputChange()" type="text" [(ngModel)]="nonce[2]" style="width: 75%;">
		<textarea (input)="inputChange()" [(ngModel)]="data[2]" style="width: 100%;"></textarea>
		<label style="width: 25%;">Hash bloque anterior</label><input (input)="inputChange()" type="text" disabled [(ngModel)]="hash256[1]" style="width: 75%;">
		<label style="width: 25%;">Hash</label><input disabled type="text" [(ngModel)]="hash256[2]" style="width: 75%;">
		<p style="color: green;" *ngIf="valid[2]">Bloque válido</p>
		<p style="color: red;" *ngIf="!valid[2]">Bloque no válido</p>
		<button (click)="mine(2)">Minar</button>
	</div>
	<h5>Bloque 4</h5>
	<div style="width: 100%;">
		<label style="width: 25%;">Nonce</label><input (input)="inputChange()" type="text" [(ngModel)]="nonce[3]" style="width: 75%;">
		<textarea (input)="inputChange()" [(ngModel)]="data[3]" style="width: 100%;"></textarea>
		<label style="width: 25%;">Hash bloque anterior</label><input (input)="inputChange()" type="text" disabled [(ngModel)]="hash256[2]" style="width: 75%;">
		<label style="width: 25%;">Hash</label><input disabled type="text" [(ngModel)]="hash256[3]" style="width: 75%;">
		<p style="color: green;" *ngIf="valid[3]">Bloque válido</p>
		<p style="color: red;" *ngIf="!valid[3]">Bloque no válido</p>
		<button (click)="mine(3)">Minar</button>
	</div>
	<h5>Bloque 5</h5>
	<div style="width: 100%;">
		<label style="width: 25%;">Nonce</label><input (input)="inputChange()" type="text" [(ngModel)]="nonce[4]" style="width: 75%;">
		<textarea (input)="inputChange()" [(ngModel)]="data[4]" style="width: 100%;"></textarea>
		<label style="width: 25%;">Hash bloque anterior</label><input (input)="inputChange" type="text" disabled [(ngModel)]="hash256[3]" style="width: 75%;">
		<label style="width: 25%;">Hash</label><input disabled type="text" [(ngModel)]="hash256[4]" style="width: 75%;">
		<p style="color: green;" *ngIf="valid[4]">Bloque válido</p>
		<p style="color: red;" *ngIf="!valid[4]">Bloque no válido</p>
		<button (click)="mine(4)">Minar</button>
	</div>
</div>
